<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Limesco :: {{ page.title }} :: mobiele telefonie - open, eerlijk, innovatief</title>

    <meta name="description" content="Limesco is de jonge telecomoperator die het
    anders doet. Volgens de idealen open, eerlijk en innovatief bieden wij
    bundelloze en vooruitstrevende diensten." />
    <meta name="keywords" content="PBX, SIM, simkaart, asterisk, telefooncentrale,
    telefonie, telecom, voip, bundelloos, do-it-yourself, do-it-together" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap -->
    <link href="/bs/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom style -->
    <link href="/stijl.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hoofdmenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#"><img src="./logo.png" class="visible-xs logo-xs" /></a>
          <a class="navbar-brand" href="#">Limesco</a>
        </div>
        <div class="navbar-collapse collapse hidden-xs">
          <ul class="nav navbar-nav nav-tabs">
            <li class="dropdown"><a href="#">Dienst <span class="caret"></span></a>
              <ul class="dropdown-menu">
{% assign sorted_pages = site.pages | sort:"path" %}
{% for page in sorted_pages %}
{% if page.section == 'dienst' %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
              </ul>
            </li>
            <li class="dropdown"><a href="#">Tarieven <span class="caret"></span></a>
              <ul class="dropdown-menu">
{% for page in sorted_pages %}
{% if page.section == 'tarieven' %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
              </ul>
            </li>

            <li class="dropdown"><a href="#">Contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
{% for page in sorted_pages %}
{% if page.section == 'contact' %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
              </ul>
            </li>
            <li class="dropdown"><a href="#">Over ons <span class="caret"></span></a>
              <ul class="dropdown-menu">
{% for page in sorted_pages %}
{% if page.section == 'over' %}
               <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="navbar-collapse collapse" id="hoofdmenu">
          <div class="hidden-sm hidden-md hidden-lg">
            <ul class="nav nav-pills">
              <li><strong>Dienst</strong>
                <ul class="nav nav-pills">
{% for page in sorted_pages %}
{% if page.section == 'dienst' %}
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
                </ul>
              </li>
            </ul>
            <ul class="nav nav-pills">
              <li><strong>Tarieven</strong>
                <ul class="nav nav-pills">
{% for page in sorted_pages %}
{% if page.section == 'tarieven' %}
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
                </ul>
              </li>
            </ul>
            <ul class="nav nav-pills">
              <li><strong>Contact</strong>
                <ul class="nav nav-pills">
{% for page in sorted_pages %}
{% if page.section == 'contact' %}
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
                </ul>
              </li>
            </ul>
            <ul class="nav nav-pills">
              <li><strong>Over ons</strong>
                <ul class="nav nav-pills">
{% for page in sorted_pages %}
{% if page.section == 'over' %}
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /navbar -->

    {{ content }}

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/bs/js/bootstrap.min.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = "https://private.sjorsgielen.nl/piwik/";
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script><noscript><p><img src="https://private.sjorsgielen.nl/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->

  </body>

</html>
