<!DOCTYPE html>
<html lang="nl">

<head>
<title>Limesco :: {{ page.title }}</title>
<!-- Bootstrap - twitter.github.com/bootstrap -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>

<body>
<div class="container">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Limesco</a>
        <ul class="nav nav-tabs">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dienst</a>
          <ul class="dropdown-menu">
{% assign sorted_pages = site.pages | sort:"path" %}
{% for page in sorted_pages %}
{% if page.section == 'dienst' %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Technisch</a>
          <ul class="dropdown-menu">
{% for page in sorted_pages %}
{% if page.section == 'technisch' %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Over</a>
          <ul class="dropdown-menu">
{% for page in sorted_pages %}
{% if page.section == 'over' %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
          </ul>
        </li>
        </ul>
    </div>
  </div>
</div>

{% assign num_pages = 0 %}
{% for p in site.pages %}
{% if page.section == p.section %}
{%   capture num_pages %}{{num_pages | plus: 1}}{% endcapture %}
{% endif %}
{% endfor %}

  <div class="row-fluid" style="padding-top: 50px;">
{% if num_pages != '0' and num_pages != '1' %}
    <div class="span2">
      <!--Sidebar content-->
      <ul class="nav nav-tabs nav-stacked">
{% for p in sorted_pages %}
{% if page.section == p.section %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endif %}
{% endfor %}
      </ul>
    </div>
    <div class="span10">
{% else %}
    <div class="span12">
{% endif %}
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</div>

<!-- Bootstrap -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = "https://private.sjorsgielen.nl/piwik/";
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="https://private.sjorsgielen.nl/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

</body>

</html>
